.about {
height: 100%;

background-color: #fff;
width: 100%;
}

.navigate {
    background-color: #EFF0F8;
    padding: 3px 15px;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0px 2px 4px #EFF0F8;
}
.navigate:hover {
    background-color: #cacff7;
}

.about-text {
    margin-top: 100px;
    padding: 0 50px 50px 50px;
}

.options {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: flex-end;
    background-color: #EFF0F8;
}

.div2{ 
    margin-left: 30px;
}

.projects, .sub-heads {
margin-top: 50px;
}

.title {
    font-size: 24px;
    text-decoration: underline;
}

.links 
{
    text-decoration: underline;
}

@media screen and (max-width: 450px) {
    .about-text {
        padding: 0 20px 50px 20px;
    }
  }