#dashboard{
    max-height:90vh !important;
    width: 100%;
    max-width: 100%;
    background-color: #fff !important;
    user-select: none;
    overflow: hidden !important;
    background-color: red;
}

#dashboard2{
    height:100vh;
    width: 100%;
    overflow: hidden;
}

.icon-container {
    position: absolute;
    top: 32.3%;
    left: 3%;
    display: grid;
    grid-template-columns: 1fr;
}

.icons {
    width: 30px !important;
    margin-top: 30px;
}

.icons img {
    width:  100% !important;
    height: 100% !important;
    border-radius: 8px;
}


/* Reactspring */

.c {
    position: absolute;
    cursor: pointer;
    will-change: transform, opacity;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
  }

  .more-info {
    position: absolute;
    top: 83%;
    width: 100%;
    margin: 0 auto;
  }

  .more-info p {
      text-align: center;
  }

  .menu-hold{
      background-color: #ffffff;
      position: absolute;
      width: 35px;
      height: 35px;
      left: calc(95% - 35px);
      top: 41px;
  }
  .menu-open{
    background-color: #ffffff;
    position: absolute;
      top: 30%;
      height: 50%;
      left: 97%;
      width: 100%;
      right: 0%;
      border-bottom-left-radius: 100px;
      transform:rotate(10deg);
      cursor: pointer;   
}

  .menu-open div{
    position: relative;
    top: 75%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30px;
    margin-left: 15px;
    transform:rotate(-12deg);
  }

  .menu-hold > img, .menu-open > div > img{
      width: 100%;
  }
 

  #full-menu {
      background-color: #040E63;
      width: 100%;
      height: 100vh;
      position: absolute;
      animation: 5s ease-in-out full 1;
      -webkit-animation: 5s ease-in-out full 1;
      overflow: hidden;
  }
  .remove-all {
      display: none;
  }
  
  .navs-p {
      color: #fff;
      font-size: 60px;
  }

  .navs-p:hover {
    color: #fff;
    font-size: 60px;
  text-decoration: line-through !important;
}

  .nav {
    position: relative;
    top: 50%;
    left: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  @keyframes full {
    0% {
        opacity: 0;
        transform: translateX(500px);
     }
     100% {
        opacity: 1;
        transform: translateX(0);
     }
  }

  @-webkit-keyframes full {
    0% {
        opacity: 0;
        -webkit-transform: translateX(500px);
     }
     100% {
        opacity: 1;
        -webkit-transform: translateX(0);
     }
  }


  @media screen and (max-width: 700px) {  
    .menu-open{
          left: 94.5%;   
    }
    
}

@media screen and (max-width: 500px) {
  
  .menu-open{
      left: 93%;   
  }

  .nav {
      left: 20%;
  }
    
}

@media screen and (max-width: 400px) {
  .menu-open{
    left: 91%;   
}
}
