
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }

  p{
      font-size: 16px;
      color: #040E63;
      line-height: 30px;
  }
  
  body {
    background-color: #ffffff;
    
  }

  body,
  html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
  }
  
  a {
    text-decoration: none ;
  }
